@for $i from 0 through 100 {
  // margin
  .m--#{$i}{
    margin: $i*4+px !important;
  }
  .mx--#{$i}{
    margin-left: $i*4+px !important;
    margin-right: $i*4+px !important;
  }
  .my--#{$i}{
    margin-top: $i*4+px !important;
    margin-bottom: $i*4+px !important;
  }
  .mt--#{$i}{
    margin-top: $i*4+px !important;
  }
  .mr--#{$i}{
    margin-right: $i*4+px !important;
  }
  .ml--#{$i}{
    margin-left: $i*4+px !important;
  }
  .mb--#{$i}{
    margin-bottom: $i*4+px !important;
  }

  // padding
  .p--#{$i}{
    padding:$i*4+px !important;
  }
  .px--#{$i}{
    padding-left: $i*4+px !important;
    padding-right: $i*4+px !important;
  }
  .py--#{$i}{
    padding-top: $i*4+px !important;
    padding-bottom: $i*4+px !important;
  }
  .pt--#{$i}{
    padding-top: $i*4+px !important;
  }
  .pr--#{$i}{
    padding-right: $i*4+px !important;
  }
  .pl--#{$i}{
    padding-left: $i*4+px !important;
  }
  .pb--#{$i}{
    padding-bottom: $i*4+px !important;
  }

  // text-size
  .text--#{$i}{
    font-size: $i+px;
  }
}


.font--100 {
  font-weight: 100 !important;
}

.font--200 {
  font-weight: 200 !important;
}

.font--300 {
  font-weight: 300 !important;
}

.font--400 {
  font-weight: 400 !important;
}

.font--500 {
  font-weight: 500 !important;
}

.font--600 {
  font-weight: 600 !important;
}

.font--700 {
  font-weight: 700 !important;
}

.font--800 {
  font-weight: 800 !important;
}

.font--900 {
  font-weight: 900 !important;
}

ul, li{
  padding: 0;
  margin: 0;
  list-style: none;
}

